body{
    width: 99%;
    height: 95%;
    background-color: whitesmoke;
}
.social-logos{
    display: flex;
    justify-content: left;
    margin: 0.19rem;
}
.social-logos a{
    margin: 0 10px;
}
.social-logos img{
    width: 1.5rem;
    height: 1.5rem;
}
section{
    background-color:whitesmoke;
    height: 40rem;
    width: 37rem;
    margin-top: 3px;
    float: left;
    margin-left: 0.4rem;
    border-radius: 3%;
    margin-top:0.25rem;
}
header{
    width: 20rem;
    margin-left: 15rem;
    height:3rem;
    margin-top: 1rem;
    padding: 0.6rem 1.5rem;
    text-decoration: none;
    background-color: whitesmoke;
    text-align: right;
}
#article3,#article4{
    width: 90%;
    height: 12rem;
    margin-top: 0.3rem;
    margin-left: 0.6rem;
    border-radius: 5%;
    text-align: inherit;
    margin-left: 0.9rem;
}
nav{
    background-image: url("photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20rem;;
    margin-top: 0.5rem;
    height: 25rem;
    float: left;
    margin-top: 2rem;
    border-radius: 12%;
    margin-left: 0.4375rem;
}/*
#article3,#footer,#header,#article4,body,section,nav{
    border: #000 solid 1px;
}*/